.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link:hover {
  opacity: 0.8;
}
